@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.dark-mode * {
  color: #FFFFFF;
}


.light-mode * {
  color: #1A1A1A;
}

.pink-clr {
  color: #E23B4B;
}

.light-mode {
  --dark-clr: #1A1A1A;
  --light-clr: #FFFFFF;
  --lightgray-clr: #f2f2f2;
  background: url(./Assets/bg-01-light.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.light-mode .links {
  color: #1A1A1A;
}

.dark-mode .links {
  color: #FFFFFF;
}

.dark-mode {
  --light-clr: #1A1A1A;
  --dark-clr: #FFFFFF;
  background: url(./Assets/bg-01-dark.jpg);
  background-size: cover;
  background-attachment: fixed;
  --lightgray-clr: #101010;
  --darkgray-clr: #323232;
}

.btns {
  display: inline-block;
  padding: 1rem 2rem;
  background: #E23B4B;
  color: white !important;
  cursor: pointer;
  border: #E23B4B;
  border-radius: 4px;
  margin-right: 10px;
  transition: all 0.3s;
}

.btns:hover {
  background: #323232;
}

.btns a {
  color: white;
}

p{
  text-align: justify;
}